customtkinter
decorator
deepface
dlib
face-recognition-models
face_recognition
gdown
huggingface-hub
moviepy==1.0.3
opencv-python
packaging

pillow
psutil
pygame
pyinstaller
requests
safetensors
tf-keras
tqdm
