dlib
face-recognition-models
face_recognition
opencv-python
moviepy==1.0.3
decorator
customtkinter
packaging
pillow
torch
torchvision
diffusers
transformers
accelerate
scipy
torchsde
huggingface-hub
safetensors
psutil
tqdm
