dlib
face-recognition-models
face_recognition
opencv-python
moviepy==1.0.3
decorator
customtkinter
packaging
pillow
huggingface-hub
safetensors
huggingface-hub
safetensors
psutil
tqdm
deepface
tf-keras
pandas
gdown
requests
pygame
pyinstaller
